body{
    background: linear-gradient(90deg, rgba(66, 183, 245, 0.8) 0%, rgba(255, 255, 255, 0.4) 100%);
    font-family: Raleway;
}
/* General */

h1{
    font-size: 20px;
    color: #4285f4;
}
h2{
    font-size: 18px;
    color: #4285f4;
}
a{
    color: #4285f4;
    text-decoration: none;
}

/* Login en register forms */
.login-page .login-form form, .login-page .register-form form{
    position: fixed;
    width: 400px;
    padding: 40px;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12), 0 5px 5px 0 rgba(0, 0, 0, 0.08);
}
.login-page .login-form form input, .login-page .register-form form input{
    width: 100%;
    background-color: #e0e0e0;
    border: none;
    height: 30px;
    padding: 10px;
    margin: 10px 0px;
}
.intro-text{
    display: block;
    text-transform: uppercase;
    margin: 25px 20px;
}
.login-form p {
    text-align: left;
    margin: 0px;
    font-size: 12px;
}
.login-fields {
    margin: 0px 20px;
}
.login-form label {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 14px;
}
.register-form label{
    letter-spacing: 3px;
    font-size: 14px;
}
input.username-field {
    /*margin: 25px 0px;*/
}
button.login-button, button.register-button {
    margin: 25px 0px;
}
button.login-button, button.register-button {
    width: 100%;
    background-color: #4285f4;
    color: #fff;
    border: none;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}
.register-form .back-button{
    width: 50%;
    height: 20px;
    padding: 15px;
    text-align: center;
    margin: auto;
    display: block;
    background-color: #0a9542bd;
    font-weight: bold;
    font-style: italic;
    color: #fff;
}

/* Dashboard */
/* LOG OUT button */
a.logout-button {
    width: 150px;
    text-align: center;
    background-color: #b80000;
    border-radius: 5px;
    color: #fff;
    border: none;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    float: right;
    display: block;
}

/* Table */
#temperature {
    border-collapse: collapse;
    width: 50%;
    margin: auto;
    margin-bottom: 150px;
    box-shadow: 0px 3px 6px 0px #cccccc;
}

#temperature td, #temperature th {
    border: 1px solid #ddd;
    padding: 8px;
}

#temperature tr {
    background-color: #e3e0e0;
}
#temperature tr:nth-child(even){
    background-color: #f2f2f2;
}

/*#temperature tr:hover {background-color: #ddd;}*/

#temperature th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4285f4;
    color: white;
}

/* temp chart */
#chartContainer{
    height: 370px;
    width: 50%;
    margin: auto;
}
#temp_chart{
    margin: auto;
    width: 900px;
    height: 500px;
    box-shadow: 0px 3px 6px 0px #cccccc;
}

/* Footer */
.footer{
    display: block;
    background-color: whitesmoke;
    height: 150px;
    text-align: center;
    padding: 20px;
}